<!DOCTYPE html>
<html lang="en" ng-app="SpotPop">
<head>
  <meta charset="UTF-8">
  <title>SpotPop</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


  <script src="/js/app.js"></script>
  <script type="text/javascript" src="js/factories/auth.fact.js"></script>
  <script type="text/javascript" src="js/controllers/auth.ctrl.js"></script>
 
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"> -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-controller="authenticationController as auth">
	<header>
		<h1>SPOT POP!</h1>
	</header>

	<nav>
		<ul>
			<li><a ui-sref="home">Home</a></li>
			<li ng-if="!auth.user"><a href="#" ui-sref="login">Log In</a></li>
			<li ng-if="!auth.user"><a href="#" ui-sref="signin">Sign Up</a></li>
			<li ng-if="auth.user"><a href="#" ng-click="auth.signOut()">Log Out</a></li>
			<li ng-if="auth.user"><a ui-sref="my-profile">My Profile</a></li>
			<li ng-if="auth.user"><a ui-sref="my-spots">My Spots</a></li>
			<li ng-if="auth.user"><a ui-sref="spots">All Spots</a></li>
			<li ng-if="auth.user"><a ui-sref="">Friends</a></li>
			<li ng-if="auth.user"><a ui-sref="">Add Friends</a></li>
		</ul>	
	</nav>

	<section ui-view></section>


</body>
</html>