<!DOCTYPE html>
<html lang="en" ng-app="SpotPop">
<head>
  <meta charset="UTF-8">
  <title>SpotPop</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


  <script src="/js/app.js"></script>
 
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"> -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1>SPOT POP!</h1>
	</header>

	<nav>
		<ul>
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="new">Sign Up</a></li>
			<li><a ui-sref="show">My Profile</a></li>
			<li><a ui-sref="">My Spots</a></li>
			<li><a ui-sref="">All Spots</a></li>
			<li><a ui-sref="">Friends</a></li>
			<li><a ui-sref="">Add Friends</a></li>
		</ul>	
	</nav>

	<section ui-view></section>


</body>
</html>