body {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: 
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		background-color: #131313;
		background-size: 20px 20px;
}
header {
	background-color: #6f0909;
	width: 100vw;
	height: 300px;
}
header > h1 {
	font-size: 8rem;
    position: absolute;
    margin: 80px 0 0 80px;
    font-weight: bold;
}
nav {
	height: 40px;
}
ul {
	position: relative;
}
nav > ul > li {
	display: inline-block;
	border: 0.5px solid black;
	border-radius: 3px;
	background-color: #dcdcc5;
	padding: 10px;
	width: 11.65%;
	min-width: 110px;
	margin: 0.1rem;
}
a {
	text-decoration: none;
}

/*=============================HOME=PAGE=================================*/
#welcomeMsg {
	background-color: #dcdcc5;
	margin: auto;
	margin-top: 20px;
	border-radius: 20px;
	width: 300px;
	padding: 150px;
	text-align: center;
}

/*==============================SPOT=PANELS===============================*/
.spotPanel {
	width: 98vw;
	background-color: #dcdcc5;
	border: 0.5px solid black;
	border-radius: 3px;
	margin: 0.5rem;
}
li > h1 {
	font-size: 3rem;
}
/*===================================MAP===================================*/
.angular-google-map-container { 
	height: 200px; 
	width: 49vw;
}
.map {
}
#ytplayer {
	width: 49vw; 
	height: 200px;
	float: left;
}


@media screen and (max-width: 1100px) {
	nav > ul > li {
		width: 5%;
		min-width: 
	}
}


















