<section ng-controller="SpotsController as spot">
	<form class="form" ng-submit="spot.createSpot()">

		<h1>Add Spot</h1>

		<label>Title: </label>
		<input type="text" required ng-model="spot.newSpot.title" placeholder="Enter park or area name">
		
		<label>Description: </label>
		<input type="text" required ng-model="spot.newSpot.body" placeholder="Talk about feats, security, etc..">
			
		<label>Video Url: </label>
		<input type="text" ng-model="spot.newSpot.video" placeholder="Paste in a youtube Url">
		
		<label>Location: </label>
		<input type="text" required ng-model="spot.newSpot.location" placeholder="town and city">

		<input type="hidden" ng-model="spot.newSpot.idkey">

		<label>Latitude: </label>
		<input type="text" required ng-model="spot.newSpot.latitude">

		<label>Longitude: </label>
		<input type="text" required ng-model="spot.newSpot.longitude">

		<br>

		<button id="submit" type="submit">Create Spot</button>
	</form>
</section>