<section class="signUp" ng-if="!auth.user">
	<h2>Sign up</h2>

	<label class="signInLbl">Email: </label>
	<input id="emailInput" type="text" ng-model="auth.email">

	<label class="signInLbl">Password: </label>
	<input type="password" ng-model="auth.password">

	<label>Tag Name: </label>
	<input type="string" ng-model="auth.tagName">

	<br>

	<button id="signUpBtn" ng-click="auth.createUser()">Create User</button>

	<p ng-if="auth.error">
		Error: <strong> {{ auth.error }} </strong>
	</p>
</section>

<section class="signUp" ng-if="auth.user">
	<h3>You are already logged in</h3>
</section>